:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --v-light-gray: hsl(0, 0%, 95%);
  --headings-font: "Big Shoulders Display", cursive;
  --body-font: "Lexend Deca", sans-serif;
}

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  min-height: 100vh;
}

.wrapper {
  min-height: 100vh;
  position: relative;
  display: grid;
  place-content: center;
  overflow: hidden;
}

.container {
  max-width: 23rem;
  margin: 2rem;
  border-radius: 0.4rem;
  overflow: hidden;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

a {
  text-decoration: none;
}

h2 {
  color: var(--v-light-gray);
  font-size: 2.5rem;
  font-family: var(--headings-font);
  text-transform: uppercase;
}

p {
  color: var(--v-light-gray);
  font-size: 0.9375rem;
  font-family: var(--body-font);
  margin-bottom: 2.5rem;
  line-height: 1.8;
}

/* @keyframes duration | easing-function | delay | iteration-count | direction | fill-mode | play-state | name */
.img-sed {
  animation: 1s slidein;
}

.img-suv {
  animation: 1s slidein;
}

.img-lux {
  animation: 1s slidein;
}

@keyframes slidein {
  from {
    margin-left: 0%;
    transform: translateX(-10px);
  }
  to {
    margin-left: 0%;
  }
}

.box {
  padding: 3rem;
}

.sedan {
  background-color: var(--bright-orange);
  grid-area: sedan;
}

.suv {
  background-color: var(--dark-cyan);
  grid-area: suv;
}

.luxury {
  background-color: var(--very-dark-cyan);
  grid-area: luxury;
}

.btn {
  max-width: 9.125rem;
  background-color: var(--v-light-gray);
  text-align: center;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  border: solid 0.1rem var(--v-light-gray);
  font-family: var(--body-font);
  font-size: 0.9375rem;
}

.btn:hover {
  cursor: pointer;
  background-color: transparent;
  color: var(--v-light-gray);
}

.sedan a {
  color: var(--bright-orange);
}

.suv a {
  color: var(--dark-cyan);
}

.luxury a {
  color: var(--very-dark-cyan);
}

@media only screen and (min-width: 51.25rem) {
  .container {
    max-width: 57.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "sedan suv luxury";
  }

  p {
    margin-bottom: 6rem;
    line-height: 2;
  }
}
